html
  include partials/head

  body
    h1(class="logo")
      img(src="./images/OpenAvenues logo.png")

    h1 Snapshot by Type of Cost

    h2(class="return-header") Exit Cost
      dl
        dt totalCost
        dd Total Cost
        dt directCost
        dd Direct Cost
        dt hiddenCost
        dd Hidden Cost
    
    h2(class="return-header") Recruitment and Hiring Cost
      ul
        li=totalCost
        li=directCost
        li=hiddenCost

    h2(class="return-header") Onboarding Cost
      ul
        li=totalCost
        li=directCost
        li=hiddenCost

    h2(class="return-header") Cost of Loss of Employee
      ul
        li=totalCost
        li=directCost
        li=hiddenCost
    
    h2(class="return-header") OAF Program Cost
      ul
        li=totalCost

    h2(class="return-header") Overall Savings with OA Program
      ul
        li=totalCost



