html
  include partials/head

  body
    h1(class="logo")
      img(src="./images/OpenAvenues logo.png")

    h1(class="second-header") Snapshot by Type of Cost

    h2(class="return-header") Exit Cost
      ul
        li=totalExitCost
        
    h2(class="return-header") Recruitment and Hiring Cost
      ul
        li=totalRecruitingCost
        

    h2(class="return-header") Onboarding Cost
      ul
        li=totalOnboardingCost
       

    h2(class="return-header") Cost of Loss of Employee
      ul
        li=totalLossCost
       
    
    h2(class="return-header") OAF Program Cost
      ul
        li=totalProgramCost

    h2(class="return-header") Overall Savings with OA Program
      ul
        li=totalSavings
    



